<script type="text/javascript">
	$('#postSingle a').click(function (e) {
	  e.preventDefault()
	  $(this).tab('show')
	});
</script>
<div ng-if="post">
	<div class="page-header">
	  <h1>{{post.title}} <small>by {{post.author}}</small></h1>
	</div>
	<ul id="postSingle" class="nav nav-tabs" role="tablist"> 
		<li role="presentation" class="active">
			<a href="#view" id="home-tab" showtab='' role="tab" data-toggle="tab" aria-controls="home" aria-expanded="false">View</a>
		</li> 
		<li role="presentation" class="">
			<a href="#editor" role="tab" showtab='' id="profile-tab" data-toggle="tab" aria-controls="profile" aria-expanded="true">Editor</a>
		</li> 
	</ul> 
	<div id="myTabContent" class="tab-content"> 
		<div role="tabpanel" class="tab-pane fade active in" id="view" aria-labelledby="view-tab"> 
			<div class="panel panel-default">
			  <div class="panel-body" ng-bind-html="post.content"></div>
			</div>
		</div> 
		<div role="tabpanel" class="tab-pane fade " id="editor" ng-controller="wysiwygeditor" aria-labelledby="profile-tab"> 
			<div class="panel panel-default">
			  <div class="panel-body">
			  	<form name="form" ng-submit="submit()">
			  		<div class="input-group">
					  <input type="text" class="form-control" ng-model="title">
					</div>
					<div class="input-group">
						<text-angular ng-model="htmlcontent"></text-angular>
					</div>
					<div class="input-group">
			            <button type="submit" class="btn btn-default" >Update</button>
			        </div>
	        	</form>
			  </div>
			</div>
		</div> 
	</div>
</div>
<div ng-if="!post">
	<div class="alert alert-success" role="alert">Post was succesfully deleted</div>
</div>